//global setting
$baseborder : 1px solid #ccc;
$themeYellow : #ffbb3a;
$contentFontSize : 20px;
$contentColor : #585858;

@mixin boxsizing($sizing:border-box){
	box-sizing:$sizing;
	-webkit-box-sizing:$sizing;
	-moz-box-sizing:$sizing;
	-ms-box-sizing:$sizing;
	-o-box-sizing:$sizing;
}

@mixin columnCount($count:3){
	column-count:$count;
	-webkit-column-count:$count;
	-moz-column-count:$count;
	-ms-column-count:$count;
	-o-column-count:$count;
}

@mixin columnGap($gap:0){
	column-gap:$gap;
	-webkit-column-gap:$gap;
	-moz-column-gap:$gap;
	-ms-column-gap:$gap;
	-o-column-gap:$gap;
}

@mixin columnRule(){
	column-rule:$rule;
	-webkit-column-rule:$rule;
	-moz-column-rule:$rule;
	-ms-column-rule:$rule;
	-o-column-rule:$rule;
}

@mixin noSelectText{
	 -webkit-user-select:none; 
	 -moz-user-select:none; 
	 -ms-user-select:none; 
	 -o-user-select:none;
	 user-select:none;
}

@mixin appearance($appearance){
	appearance: $appearance;
    -moz-appearance: $appearance;
    -webkit-appearance: $appearance;
    -ms-appearance: $appearance;
    -o-appearance : $appearance;
}

@mixin boxShadow($shadow){
	box-shadow:$shadow;
	-webkit-box-shadow:$shadow;
	-moz-box-shadow:$shadow;
	-o-box-shadow:$shadow;
	-ms-box-shadow:$shadow;
}

@mixin tableCell(){
	display: table-cell;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

@mixin tableCellImg(){
	display:inline-block;
	max-width:100%;
	max-height:100%;
}