<link rel="stylesheet" href="/static/guanwangApp/css/aboutUs.css">

<section>
	<h2></h2>
	<p>地推大狮是最懂地推的移动管理工具，<br />它面向O2O企业，帮助地推人员针对线下商户展开<br />进件、商机、活动，<br/>奖励等业务活动，同时企业管理者可随时监控地推数据，管理地推人员，<br/>从而大幅提升地推团队的执行力和业绩！</p>
</section>
<div class="contactContainer">
	<div class="concatWay">
		<ul>
			<li>联系电话：<br/> <tel>020-88888888</tel></li>
			<li>公司邮箱：<br/> <tel>xiaoguItd@163.com</tel></li>
			<li>
				<p>微信客服</p>
				<img src="/static/guanwangApp/images/aboutUs/qrcode.jpg">
			</li>
		</ul>
	</div>
	<div class="concatLocation">
		<div class="address">
			<p>联系地址：</p>
			<p>广州大学城广州中医药大学国家数字家庭基地A208</p>
		</div>
		<div class="mapContainer" id="mapContainer"></div>
	</div>
</div>