<link rel="stylesheet" href="/static/guanwangApp/css/index.css">
<div class="banner">
	<ul>
		<li><a href=""><img src="/static/guanwangApp/images/index/banner1.png"></a></li>
	</ul>
</div>
<section role="appDetail">
	<h2 class="hide"></h2>
	<div id="appDetail">
		<div class="appPageContainer" id="appPageContainer">
			<ul>
				<li><div><img src="/static/guanwangApp/images/index/pic_sale.png"></div></li>
				<li><div><img src="/static/guanwangApp/images/index/pic_apply.png"></div></li>
				<li><div><img src="/static/guanwangApp/images/index/pic_knowledge.png"></div></li>
				<li><div><img src="/static/guanwangApp/images/index/pic_opportunity.png"></div></li>
				<li><div><img src="/static/guanwangApp/images/index/pic_signup.png"></div></li>
				<li><div><img src="/static/guanwangApp/images/index/pic_aftersale.png"></div></li>
				<li><div><img src="/static/guanwangApp/images/index/pic_achievement.png"></div></li>
				<li><div><img src="/static/guanwangApp/images/index/pic_notice.png"></div></li>
				<li><div><img src="/static/guanwangApp/images/index/pic_activity.png"></div></li>
				<li><div><img src="/static/guanwangApp/images/index/pic_manage.png"></div></li>
			</ul>
		</div>
		<aside class="appPageNav">
			<section role="appFunction" >
				<h3></h3>
				<nav>
					<a class="current">
						<div>
							<img src="/static/guanwangApp/images/index/icon_sale.png">
						</div>
						<p>销售签约</p>
					</a>
					<a class="current">
						<div>
							<img src="/static/guanwangApp/images/index/icon_apply.png">
						</div>
						<p>极速进件</p>
					</a>
					<a>
						<div>
							<img src="/static/guanwangApp/images/index/icon_knowledge.png">
						</div>
						<p>知识库</p>
					</a>
					<a>
						<div>
							<img src="/static/guanwangApp/images/index/icon_opportunity.png">
						</div>
						<p>商机共享</p>
					</a>
					<a>
						<div>
							<img src="/static/guanwangApp/images/index/icon_signup.png">
						</div>
						<p>外勤签到</p>
					</a>
				</nav>
			</section>
			<section role="backendFunction">
				<h3></h3>
				<nav>
					<a>
						<div>
							<img src="/static/guanwangApp/images/index/icon_aftersale.png">
						</div>
						<p>售后维护</p>
					</a>
					<a>
						<div>
							<img src="/static/guanwangApp/images/index/icon_achievement.png">
						</div>
						<p>业绩奖励</p>
					</a>
					<a>
						<div>
							<img src="/static/guanwangApp/images/index/icon_notice.png">
						</div>
						<p>通知公告</p>
					</a>
					<a>
						<div>
							<img src="/static/guanwangApp/images/index/icon_activity.png">
						</div>
						<p>发布活动</p>
					</a>
					<a>
						<div>
							<img src="/static/guanwangApp/images/index/icon_manage.png">
						</div>
						<p>架构管理</p>
					</a>
				</nav>
			</section>
		</aside>
	</div>
</section>
<section role="client">
	<h2></h2>
	<div>
		<figure>
			<img src="/static/guanwangApp/images/index/logo_zhangbei.png">
			<figcaption>掌贝</figcaption>
		</figure>
		<figure>
			<img src="/static/guanwangApp/images/index/logo_songbei.png">
			<figcaption>送呗</figcaption>
		</figure>
		<figure>
			<img src="/static/guanwangApp/images/index/logo_chaoka.png">
			<figcaption>超卡</figcaption>
		</figure>
		<figure>
			<img src="/static/guanwangApp/images/index/logo_jianzhimao.png">
			<figcaption>兼职猫</figcaption>
		</figure>
		<figure>
			<img src="/static/guanwangApp/images/index/logo_hunlimao.png">
			<figcaption>婚礼猫</figcaption>
		</figure>
	</div>
</section>