<link rel="stylesheet" href="/static/guanwangApp/css/product.css"/>
<nav class="productNav">
	<a><img src="/static/guanwangApp/images/product/nav_sale.png"></a>
	<a><img src="/static/guanwangApp/images/product/nav_apply.png"></a>
	<a><img src="/static/guanwangApp/images/product/nav_aftersale.png"></a>
	<a ><img src="/static/guanwangApp/images/product/nav_knowledge.png"></a>
	<a ><img src="/static/guanwangApp/images/product/nav_opportunity.png"></a>
	<a ><img src="/static/guanwangApp/images/product/nav_achievement.png"></a>
	<a ><img src="/static/guanwangApp/images/product/nav_notice.png"></a>
	<a ><img src="/static/guanwangApp/images/product/nav_activity.png"></a>
	<a ><img src="/static/guanwangApp/images/product/nav_manage.png"></a>
	<a ><img src="/static/guanwangApp/images/product/nav_sign.png"></a>
</nav>

<section class="yellowBgSection">
	<header>
		<h2><img src="/static/guanwangApp/images/product/title_sale.png"></h2>
		<div>
			<h3>仅用App即可完成商户进件全过程，摆脱繁琐的文档和邮件往来，后台立即接收进件数据，提交公司审核，大幅节省时间；</h3>
		</div>
	</header>
	<div>
		<div class="outer">
			<div class="inner"><img src="/static/guanwangApp/images/product/pic_sale.png"></div>
		</div>
	</div>
</section>
<section class="whiteBgSection">
	<header>
		<h2><img src="/static/guanwangApp/images/product/title_knowledge.png"></h2>
		<div>
		<h3>地推人员在app的知识库中能获取到公司在后台导入的关于产品、价格、竞品、使用手册、成功案例等信息，以便地推人员自助学习、搜索、答疑。</h3>
		</div>
	</header>
	<div>
		<div class="outer">
			<div class="inner"><img src="/static/guanwangApp/images/product/pic_knowledge.png"></div>
		</div>
	</div>
</section>
<section class="yellowBgSection">
	<header>
		<h2><img src="/static/guanwangApp/images/product/title_aftersale.png"></h2>
		<div></div>
		<h3>地推人员众包共享潜在发展商户，以盘活潜在的商户资源，从而提升地推团队整体业绩。另外，管理者在后台对商机进行把控，并分析整体数据，包括商机的进度，商机成单的比率，时间段内成单趋势呈现等</h3>
	</header>
	<div>
		<div class="outer">
			<div class="inner"><img src="/static/guanwangApp/images/product/pic_aftersale.png"></div>
		</div>
	</div>
</section>
<section class="yellowBgSection">
	<header>
		<h2><img src="/static/guanwangApp/images/product/title_opportunity.png"></h2>
		<div></div>
		<h3>地推人员众包共享潜在发展商户，以盘活潜在的商户资源，从而提升地推团队整体业绩。另外，管理者在后台对商机进行把控，并分析整体数据，包括商机的进度，商机成单的比率，时间段内成单趋势呈现等</h3>
	</header>
	<div>
		<div class="outer">
			<div class="inner"><img src="/static/guanwangApp/images/product/pic_opportunity.png"></div>
		</div>
	</div>
</section>
<section class="whiteBgSection">
	<header>
		<h2><img src="/static/guanwangApp/images/product/title_opportunity.png"></h2>
		<div></div>
		<h3>地推人员众包共享潜在发展商户，以盘活潜在的商户资源，从而提升地推团队整体业绩。另外，管理者在后台对商机进行把控，并分析整体数据，包括商机的进度，商机成单的比率，时间段内成单趋势呈现等</h3>
	</header>
	<div>
		<div class="outer">
			<div class="inner"><img src="/static/guanwangApp/images/product/pic_opportunity.png"></div>
		</div>
	</div>
</section>
<section class="yellowBgSection">
	<header>
		<h2><img src="/static/guanwangApp/images/product/title_opportunity.png"></h2>
		<div></div>
		<h3>地推人员众包共享潜在发展商户，以盘活潜在的商户资源，从而提升地推团队整体业绩。另外，管理者在后台对商机进行把控，并分析整体数据，包括商机的进度，商机成单的比率，时间段内成单趋势呈现等</h3>
	</header>
	<div>
		<div class="outer">
			<div class="inner"><img src="/static/guanwangApp/images/product/pic_opportunity.png"></div>
		</div>
	</div>
</section>
<section class="whiteBgSection">
	<header>
		<h2><img src="/static/guanwangApp/images/product/title_achievement.png"></h2>
		<div>
		<h3>自动统计系统内的地推业绩数据，以列表或图表的形式呈现，直观清晰。地推人员可以通过app随时查看自己的业绩，管理者则可以清晰了解员工、下属代理商的业绩情况，还可以为员工和下属代理商结算奖励。</h3>
		</div>
	</header>
	<div>
		<div class="outer">
			<div class="inner"><img src="/static/guanwangApp/images/product/pic_achievement.png"></div>
		</div>
	</div>
</section>
<section class="yellowBgSection">
	<header>
		<h2><img src="/static/guanwangApp/images/product/title_notice.png"></h2>
		<div></div>
		<h3>管理者通过后台向地推人员群发通知公告，可指定发布范围。地推人员即刻能在app收到公告推送，无需转向QQ群或者微信接收通知公告。</h3>
		</div>
	</header>
	<div>
		<div class="outer">
			<div class="inner"><img src="/static/guanwangApp/images/product/pic_notice.png"></div>
		</div>
	</div>
</section>
<section class="whiteBgSection">
	<header>
		<h2><img src="/static/guanwangApp/images/product/title_activity.png"></h2>
		<div></div>
		<h3>地推人员在app的知识库中能获取到公司在后台导入的关于产品、价格、竞品、使用手册、成功案例等信息，以便地推人员自助学习、搜索、答疑。</h3>
		</div>
	</header>
	<div>
		<div class="outer">
			<div class="inner"><img src="/static/guanwangApp/images/product/pic_activity.png"></div>
		</div>
	</div>
</section>
<section class="yellowBgSection">
	<header>
		<h2><img src="/static/guanwangApp/images/product/title_manage.png"></h2>
		<div></div>
		<h3>通过发布活动，O2O企业可以通知地推人员联系线下商户参加活动，线上线下互相引流，助力O2O企业和线下商户持续运营，最大化挖掘商户的商业价值。</h3>
		</div>
	</header>
	<div>
		<img src="/static/guanwangApp/images/product/pic_manage.png" />
	</div>
</section>
<section class="whiteBgSection">
	<header>
		<h2><img src="/static/guanwangApp/images/product/title_signup.png"></h2>
		<div></div>
		<h3>管理者可实时查看外出地推人员的所在场所和坐标位置，方便人员调度；还可选择员工工作时间段，实时掌控员工工作轨迹，清晰显示员工工作停留时间，在员工手机关机等异常情况下告警。
</h3>
		</div>
	</header>
	<div><img src="/static/guanwangApp/images/product/pic_signup.png" /></div>
</section>